$white: #fff;
$grey :#caccce;
$lightGrey: #c8c8c8;
$darkGrey: #2d333d;
$blue: #0093d8;
$darkBlue: #007bb5;
$facebook: #3b5998;
$linkedin: #0097da;
$twitter: #00ccff;
$black: #000;
$inputGrey: #252628;
$gradient: linear-gradient(180deg, rgba(32, 38, 60, 1) 0%, rgba(0, 0, 0, 0.4990371148459384) 100%);